.headerContainer {
    height: 5rem;
    box-shadow: 1px 1px 10px 0px var(--border);
    background: var(--header);
}

.headerContent {
        max-width: 1120px;
        height: 5rem;
        margin: 0 auto;
        padding: 0 2rem;

        display: flex;
        align-items: center;

        nav {
            margin-left: 5rem;
            height: 5rem;

            a {
                display: inline-block;
                position: relative;
                padding: 0 0.5rem;
                height: 5rem;
                line-height: 5rem;
                color: var(--title);
            }
        }
    
        select {
            border: none;
            border-bottom: 1px solid #9393ab;
            position: absolute;
            right: 70px;
            
            *:focus {
                outline: none;
            }
        }
    }