.selectCoin,
.inputValue,
.totalWithSelect {
    width: 100%;
    padding: 0 1.5rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    margin-top: 5px;

    border: none;
    border-bottom: 2px solid #d4d4d4;

    font-weight: 400;
    font-size: 1rem;
    outline: none;
    box-shadow: 0 3px 5px 1px #e4e4e4;

    &:focus {
        border-bottom: 2px solid #00bcd4;
    }

    &::placeholder {
        color: #d4d4d4;
    }
}

.selectCoin{
    margin-bottom: 2rem;
    background-color: #dddddd;
}

.inputValue {
    margin-bottom: 2rem;
}

.totalWithSelect {
    margin-bottom: 2rem;
    background-color: #dddddd;
    appearance: none;
}

.label {
    font-size: 1rem;
    font-weight: bold;
    color: #44af83;
    margin-bottom: 0.5rem;
}

.formButtons {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

    margin-top: 50px;

    button {
        padding: 8px 30px;
        border-radius: 7px;
        color: white;
        font-weight: bold;

        transition: filter 0.3s;

        &:hover {
            filter: brightness(0.9);
        }
    }

    .cancelButton {
        border: 1px solid #a33737;
        background-color: #b94747;
    }

    .submitButton {
        border: 1px solid green;
        background-color: #38A169;
    }
}

.messageSuccess {
    top: 35px;
    right: 300px;
    color: #f1f0f0;;
    font-size: 1.2rem;
    margin: -10px auto 10px;
    text-align: center;
    font-weight: bold;
    width: 350px;
    
    border: 1px solid #f1f0f0;;
    border-radius: 0.5rem;
    padding: 0.6rem;
    background-color: rgb(96, 194, 57);
}