.containerTitleTable {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 0.5rem;

    .imageLogo {
        position: absolute;
        left: 1rem;
    }

    .titleTable {
        text-align: center;
        font-size: 1.2rem;
        margin: 10px auto;
        color: black;
    }

    .inputSearch { 
        position: absolute;
        right: 1rem;
        padding: 0.5rem;
    
        outline: none;
        border-radius: 5px;
        border: 1px solid rgb(216, 216, 216);
        box-shadow: inset 0 0 5px 0 hsl(1, 10%, 80%), 0 0 5px hsl(3, 99%, 99%);
    }
}

.container {
    position: relative;
    margin: auto;
    margin-top: 20px;

    max-height: 80vh;
    width: 80vw;
    overflow: auto;

    border-radius: 10px;
    box-shadow: inset 0 0 1em hsl(24, 13%, 92%), 0 0 2em hsl(17, 4%, 66%);
    background-color: white;
    border: 1px solid rgb(216, 216, 216);

    background-color: white;

    .tableContainer { 
        margin-top: 2rem;

        width: 100%;
        padding: 0.5rem 1.5rem;
        border-radius: 1.2rem;

        border-spacing: 0px 2px;

        tr:nth-child(even) {
            background: #fcfcfc;
        }
        tr:nth-child(odd) {
            background: #f1f0f0;
        }
    }
}

.tableHeaderContainer {
    text-align: left;
}

.nameRow ,
.priceChangeNegative,
.priceChangePositive {
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 15px;
    white-space: nowrap;
}

.buttonChangeCrypto {
    padding: 5px;
    text-align: center;
}

.columnSymbol {
    padding: 5px;
    display: flex;
    justify-content: left;
    align-items: center;

    :nth-child(1) {
        margin-right: 5px;
    }
}

.buyCriypto {
    text-align: center;
};

.buttonBuyCrypto {
    display: flex;
    margin: auto;
    margin: 5px auto;
    padding: 4px 20px;
    border-radius: 5px;
    border: 1px solid rgb(78, 173, 40);
    background-color: rgb(96, 194, 57);
    color: white;
    font-weight: bold;
    
    transition: 0.3s;
    
    transform: 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;

    &:hover {
        background-color: #3a9952;
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
}

.MessageNoneCrypto {
    color: gray;
    font-size: 1.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;

    text-align: center;
}

.referenceInputSearch {
    color: black;
    transition: 0.3s;
    border-bottom: 1px solid #03bd31;

    &:hover {
        color: #03bd31;
    }
}