.test {
    margin: auto;
    margin-top: 30px;

    max-height: 80vh;
    width: 950px;
    overflow: auto;

    border-radius: 10px;
    box-shadow: inset 0 0 1em hsl(24, 13%, 92%), 0 0 2em hsl(17, 4%, 66%);
    background-color: white;
    border: 1px solid rgb(216, 216, 216);

    .tableContainer { 
        width: 100%;

        padding: 20px;
        border-radius: 12px;
    }
}

.tableBodyContainer {
    border: 1px solid red;
};

.tableHeaderContainer {
    text-align: left;
}

.nameRow {
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 15px;
    white-space: nowrap;
}

.buyCriypto {
    text-align: center;
};

.buttonBuyCrypto {
    display: flex;
    margin: auto;
    margin-top: 5px;
    padding: 4px 20px;
}